Debug/
Release/
Player\ Debug/
Player\ Release/
werkkzeug3/backup/
ipch/
backup/
*.suo
*.sln.old
*.sdf
*.opensdf
*vs.hpp
*ps.hpp
*.v2m.raw
*.ogg.raw
*.kx
*.sfxcache
cubehorde_shader.?pp
werkkzeug.config
