# Build directories
debug*/
release*/
stripped*/
Release/
Debug/
ipch/

# File types
*.sln
*.vcproj*
*.vcxproj*
*_ops.?pp
*_shader.?pp
*.sdf
*.suo
*.opensdf
*.ogg.raw
*.v2m.raw

*.o
*.a
*.swp
Makefile*
!Makefile.linux.boot
